__pycache__/
.vscode

outputs/
temp.py

# assets/

temp_gpt2.py    

smoothquart.py


checkpoints/*

output.wav

logs/

# Ignore WSL/NTFS alternate data stream metadata (e.g. assets/foo.mp3:Zone.Identifier)
*:Zone.Identifier
